# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Jupyter
.ipynb_checkpoints/

# Virtual environments
.env
.venv
env/
venv/
ENV/

# Logs and outputs
*.log
*.out
*.tmp

# VS Code settings
.vscode/

# MacOS/Linux system files
.DS_Store
Thumbs.db
